.admin-layout {
  display: flex;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 2rem;
  background: #f4f6f8;
  min-width: 0;
  height: 100vh; /* hace que solo el contenido principal tenga scroll */
  overflow-y: auto;
}