.auth-container {
  display: flex;
  min-height: 100vh;
}

.auth-left {
  flex: 1;
  background: #546ce8;
  background: radial-gradient(circle,rgba(84, 108, 232, 1) 0%, rgba(70, 89, 192, 1) 0%, rgba(59, 74, 162, 1) 18%, rgba(44, 55, 121, 1) 31%, rgba(41, 51, 112, 1) 36%, rgba(37, 46, 102, 1) 62%, rgba(21, 25, 56, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 4rem;
}

.auth-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

@media (max-width: 768px) {
  .auth-container {
    min-height: 100vh;
  }
  .auth-left {
    display: none;
  }
  .auth-right {
    flex: none;
    width: 100%;
    padding: 2rem;
  }
}