*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0; 
    border: 0;
    line-height: 1.5;
}

img, picture, video, canvas, svg { 
    display: block; 
    max-width: 100%; 
    height: auto; 
}

